Repository vert-x3/vertx-web, pull requests merged in 2018-11, with the labels that each got.

#1043 Adds cookie path to session handler.
  vertx-web/src/main/java/io/vertx/ext/web/handler/SessionHandler.java
  vertx-web/src/main/java/io/vertx/ext/web/handler/impl/SessionHandlerImpl.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/SessionHandlerTestBase.java
Labels: enhancement, to review

#1047 Add test for intercepting piped BodyCodec
  vertx-web-client/src/test/java/io/vertx/ext/web/client/InterceptorTest.java
Labels: to review

#1046 Fixes #1044
  vertx-web/src/main/java/io/vertx/ext/web/handler/impl/OAuth2AuthHandlerImpl.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/OAuth2AuthHandlerTest.java
Labels: enhancement, to review

#1050 OperationRequest improvements
  vertx-web-api-contract/src/main/asciidoc/dataobjects.adoc
  vertx-web-api-contract/src/main/generated/io/vertx/ext/web/api/OperationRequestConverter.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/OperationRequest.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/RouterFactoryOptions.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/impl/RouteToServiceProxyHandler.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenAPI3RouterFactoryImpl.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/param_extraction/HandlerParamsTest.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/OpenAPI3ServiceProxiesTest.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/TestService.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/TestServiceImpl.java
  vertx-web-api-service/src/test/resources/swaggers/service_proxy_test.yaml
Labels: component/api-service/enhancement, ready

#1057 Added WebClientSession documentation, renamed setHeader to addHeader …
  vertx-web-client/src/main/asciidoc/index.adoc
  vertx-web-client/src/main/java/examples/WebClientSessionExamples.java
  vertx-web-client/src/main/java/io/vertx/ext/web/client/WebClientSession.java
  vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/WebClientSessionAware.java
  vertx-web-client/src/test/java/io/vertx/ext/web/client/SessionAwareWebClientTest.java
Labels: enhancement

#1060 Updated json-schema-validator with nullable support
  vertx-web-api-contract/pom.xml
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3SchemasTest.java
  vertx-web-api-contract/src/test/resources/swaggers/schemas_test_spec.yaml
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/test15_fail.json
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/test15_ok_1.json
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/test15_ok_2.json
Labels: component/api-contract/bug

#1069 Allow authorization values when reading a remote openapi spec
  vertx-web-api-contract/src/main/asciidoc/index.adoc
  vertx-web-api-contract/src/main/java/examples/OpenAPI3Examples.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactory.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactoryTest.java
Labels: component/api-contract/enhancement, ready

#1067 Fixes #1066
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenAPI3RequestValidationHandlerImpl.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenApi3Utils.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/BaseValidationHandler.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3ValidationTest.java
  vertx-web-api-contract/src/test/resources/swaggers/validation_test.yaml
Labels: component/api-contract/bug

#1065 Support x-vertx-event-bus extension at path level
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenAPI3RouterFactoryImpl.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenApi3Utils.java
  vertx-web-api-service/src/main/asciidoc/index.adoc
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/OpenAPI3ServiceExtensionTest.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/OpenAPI3ServiceProxiesTest.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/PathExtensionTestService.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/PathExtensionTestServiceImpl.java
  vertx-web-api-service/src/test/resources/swaggers/extension_test.yaml
  vertx-web-api-service/src/test/resources/swaggers/service_proxy_test.yaml
Labels: component/api-service/enhancement

#1056 Fix #1054
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3ParametersUnitTest.java
Labels: to review

#1078 Moved some handlers configurations (back) to RouterFactory
  vertx-web-api-contract/src/main/asciidoc/dataobjects.adoc
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/RouterFactory.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/RouterFactoryOptions.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/impl/BaseRouterFactory.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactory.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenAPI3RouterFactoryImpl.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3ParametersUnitTest.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactoryTest.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3SchemasTest.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/router_factory_integration/OpenAPI3ServiceProxiesTest.java
Labels: component/api-contract/bug

#1075 Removed WebApiServiceProxyGenerator
  vertx-web-api-service/pom.xml
  vertx-web-api-service/src/main/asciidoc/index.adoc
  vertx-web-api-service/src/main/java/io/vertx/ext/web/api/generator/impl/WebApiServiceProxyGenerator.java
  vertx-web-api-service/src/main/resources/META-INF/services/javax.annotation.processing.Processor
Labels: component/api-service/bug, to review

#1087 Add support for additionalProperties that reference schema components
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenApi3Utils.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3SchemasTest.java
  vertx-web-api-contract/src/test/resources/swaggers/schemas_test_spec.yaml
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/test16_fail.json
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/test16_ok.json
Labels: component/api-contract/bug

#1089 Improved web api service documentation
  vertx-web-api-service/pom.xml
  vertx-web-api-service/src/main/asciidoc/index.adoc
  vertx-web-api-service/src/main/java/examples/package-info.java
Labels: component/api-service/enhancement, to review
