Repository vert-x3/vertx-web, pull requests merged in 2018-08, with the labels that each got.

#950 Modularize session storage code
  vertx-web-api-contract/src/main/asciidoc/dataobjects.adoc
  vertx-web-api-contract/src/main/asciidoc/enums.adoc
  vertx-web-api-contract/src/main/generated/io/vertx/ext/web/api/contract/RouterFactoryOptionsConverter.java
  vertx-web-client/src/main/asciidoc/dataobjects.adoc
  vertx-web-client/src/main/generated/io/vertx/ext/web/client/WebClientOptionsConverter.java
  vertx-web/src/main/asciidoc/dataobjects.adoc
  vertx-web/src/main/asciidoc/enums.adoc
  vertx-web/src/main/asciidoc/index.adoc
  vertx-web/src/main/java/io/vertx/ext/web/Session.java
  vertx-web/src/main/java/io/vertx/ext/web/handler/impl/SessionHandlerImpl.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/AbstractSession.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/ClusteredSessionStore.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/LocalSessionStore.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/SessionStore.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/ClusteredSessionStoreImpl.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/LocalSessionStoreImpl.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/SessionImpl.java
  vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/SharedDataSessionImpl.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/BasicAuthHandlerTest.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/BlockingHandlerTest.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/SessionHandlerTestBase.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/SomeSerializable.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/StaticHandlerTest.java
  vertx-web/src/test/java/io/vertx/ext/web/impl/HeaderParserTest.java
  vertx-web/src/test/java/io/vertx/ext/web/sstore/ClusteredSessionHandlerTest.java
Labels: to review

#989 Allow multiple security handlers in OpenAPI3RouterFactory
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/SecurityHandlersStore.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactoryTest.java
Labels: component/api-contract/enhancement, to review

#934 Added more verbose error reporting inside validation exception
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/ValidationException.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/JsonTypeValidator.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3ValidationTest.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/validation/WebTestValidationBase.java
  vertx-web/src/test/java/io/vertx/ext/web/WebTestWithWebClientBase.java
Labels: component/api-contract/enhancement
