Repository vert-x3/vertx-web, pull requests merged in 2019-02, with the labels that each got.

#1132 Added more comprehensive error messages for StringTypeValidator
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/StringTypeValidator.java
Labels: component/api-contract/enhancement, ready

#1144 Updated swagger-parser to 2.0.8
  vertx-web-api-contract/pom.xml
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3SchemasTest.java
  vertx-web-api-contract/src/test/resources/swaggers/schemas_test_spec.yaml
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/testLocalRelativeRef_fail.json
  vertx-web-api-contract/src/test/resources/swaggers/test_json/schemas_test/testLocalRelativeRef_ok.json
Labels: component/api-contract/enhancement, ready

#1157 Fixes #1133
  vertx-web/src/main/java/io/vertx/ext/web/impl/RoutingContextImpl.java
  vertx-web/src/test/java/io/vertx/ext/web/impl/RoutingContextImplTest.java
Labels: bug

#1158 Fixes #1125
  vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/LocalSessionStoreImpl.java
Labels: bug

#1166 API Contract error handlers adapted to new Router error handling
  vertx-web-api-contract/src/main/asciidoc/dataobjects.adoc
  vertx-web-api-contract/src/main/asciidoc/index.adoc
  vertx-web-api-contract/src/main/java/examples/OpenAPI3Examples.java
  vertx-web-api-contract/src/main/java/examples/ValidationExamples.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/RouterFactory.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/RouterFactoryOptions.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenAPI3RouterFactoryImpl.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/BaseValidationHandler.java
  vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactoryTest.java
Labels: component/api-contract/enhancement
