Repository vert-x3/vertx-web, pull requests merged in 2020-09, with the labels that each got.

#1681 [vertx-web-openapi] Allow users to set body handler as null
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/RouterFactory.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3RouterFactoryImpl.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/RouterFactoryIntegrationTest.java
Labels: bug, component/openapi

#1698 Get the behavior back from 3.x
  vertx-web/src/main/java/io/vertx/ext/web/impl/RouteState.java
Labels: bug

#1699 OAuth2 redirect is handled at IdP, so it should only be available for…
  vertx-web/src/main/java/io/vertx/ext/web/handler/impl/OAuth2AuthHandlerImpl.java
Labels: enhancement

#1696 Fixed multipart problem with both normal and upload fields
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3RouterFactoryImpl.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3Utils.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/RouterFactoryApiServiceIntegrationTest.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/RouterFactoryIntegrationTest.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/impl/OpenAPI3UtilsTest.java
  vertx-web-openapi/src/test/resources/specs/petstore.yaml
Labels: bug, component/openapi

#1700 Implement OAuth2/OIDC PKCE
  vertx-web-api-contract/src/main/generated/io/vertx/ext/web/api/OperationRequestConverter.java
  vertx-web-api-contract/src/main/generated/io/vertx/ext/web/api/OperationResponseConverter.java
  vertx-web-api-contract/src/main/generated/io/vertx/ext/web/api/contract/RouterFactoryOptionsConverter.java
  vertx-web-api-service/src/main/generated/io/vertx/ext/web/api/service/ServiceRequestConverter.java
  vertx-web-api-service/src/main/generated/io/vertx/ext/web/api/service/ServiceResponseConverter.java
  vertx-web-client/src/main/generated/io/vertx/ext/web/client/WebClientOptionsConverter.java
  vertx-web-graphql/src/main/generated/io/vertx/ext/web/handler/graphql/ApolloWSOptionsConverter.java
  vertx-web-graphql/src/main/generated/io/vertx/ext/web/handler/graphql/GraphQLHandlerOptionsConverter.java
  vertx-web-graphql/src/main/generated/io/vertx/ext/web/handler/graphql/GraphiQLHandlerOptionsConverter.java
  vertx-web-openapi/src/main/generated/io/vertx/ext/web/openapi/OpenAPILoaderOptionsConverter.java
  vertx-web-openapi/src/main/generated/io/vertx/ext/web/openapi/RouterFactoryOptionsConverter.java
  vertx-web/src/main/generated/io/vertx/ext/web/Http2PushMappingConverter.java
  vertx-web/src/main/generated/io/vertx/ext/web/handler/sockjs/SockJSBridgeOptionsConverter.java
  vertx-web/src/main/java/io/vertx/ext/web/handler/OAuth2AuthHandler.java
  vertx-web/src/main/java/io/vertx/ext/web/handler/impl/OAuth2AuthHandlerImpl.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/OAuth2AuthHandlerTest.java
Labels: enhancement

#1706 Futurized openapi samples
  vertx-web-openapi/src/main/java/examples/OpenAPI3Examples.java
Labels: component/openapi, documentation

#1708 Bump web api contract deps
  vertx-web-api-contract/pom.xml
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactory.java
Labels: component/api-contract/bug, dependencies

#1710 Backport #1708
  vertx-web-api-contract/pom.xml
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactory.java
Labels: component/api-contract/bug, dependencies

#1709 Fix #1707
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/RequestParametersImpl.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/RequestParametersTest.java
Labels: bug, component/validation
