Repository vert-x3/vertx-web, pull requests merged in 2020-11, with the labels that each got.

#1761 Enable CSP support, backport from Yoke
  vertx-web/src/main/asciidoc/index.adoc
  vertx-web/src/main/java/examples/WebExamples.java
  vertx-web/src/main/java/io/vertx/ext/web/handler/CSPHandler.java
  vertx-web/src/main/java/io/vertx/ext/web/handler/impl/CSPHandlerImpl.java
  vertx-web/src/test/java/io/vertx/ext/web/handler/CSPHandlerTest.java
Labels: enhancement

#1757 Updated to reflect latest changes to json-schema
  vertx-web-api-service/src/main/java/examples/ApiCodegenExamples.java
  vertx-web-api-service/src/test/java/io/vertx/ext/web/api/service/RouteToEBServiceHandlerTest.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/OpenAPILoaderOptions.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/RouterBuilder.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/GeneratorContext.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3RouterBuilderImpl.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3ValidationHandlerGenerator.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPIHolderImpl.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/BaseRouterBuilderTest.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/OpenAPIHolderTest.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/asserts/MyAssertions.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/asserts/OpenAPIHolderAssert.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/impl/OpenAPI3PathResolverTest.java
  vertx-web-validation/src/main/asciidoc/index.adoc
  vertx-web-validation/src/main/java/examples/WebValidationExamples.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/ValidationHandler.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/Bodies.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/BodyProcessorFactory.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/ParameterProcessorFactory.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/Parameters.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/StyledParameterProcessorFactory.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/ValidationHandlerBuilder.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/impl/ValidationDSLUtils.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/impl/ValidationHandlerBuilderImpl.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/validator/SchemaValidator.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/BaseValidationHandlerTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/ValidationHandlerProcessorsIntegrationTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/DeepObjectValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ExplodedArrayValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ExplodedObjectValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ExplodedTupleValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/FormBodyProcessorImplTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/JsonBodyProcessorImplTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ParameterProcessorIntegrationTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ParameterProcessorUnitTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/SplitterCharArrayValueParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/SplitterCharObjectValueParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/SplitterCharTupleValueParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/TextPlainBodyProcessorTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ValueParserInferenceUtilsTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/testutils/JsonSchemaValidatorExtension.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/testutils/TestSchemas.java
Labels: bug, component/openapi

#1769 Fix example keyword error
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenApi3Utils.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/JsonTypeValidator.java
  vertx-web-api-contract/src/test/resources/swaggers/schemas_test_spec.yaml
Labels: bug, component/api-contract/bug

#1771 [3.9] Backport 1769
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenApi3Utils.java
  vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/JsonTypeValidator.java
  vertx-web-api-contract/src/test/resources/swaggers/schemas_test_spec.yaml
Labels: bug, component/api-contract/bug

#1773 Null check on body in text and json body processor
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/body/JsonBodyProcessorImpl.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/body/TextPlainBodyProcessorImpl.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/JsonBodyProcessorImplTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/TextPlainBodyProcessorTest.java
Labels: bug, component/validation

#1783 Fix #1782
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/DeepObjectParameterProcessorGenerator.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/DefaultParameterProcessorGenerator.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/ExplodedArrayParameterProcessorGenerator.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/ExplodedMatrixArrayParameterProcessorGenerator.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/ExplodedObjectParameterProcessorGenerator.java
  vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/JsonParameterProcessorGenerator.java
  vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/RouterBuilderIntegrationTest.java
  vertx-web-openapi/src/test/resources/specs/validation_test.yaml
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/RequestParameters.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/Parameters.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/builder/impl/ValidationDSLUtils.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/ParameterLocation.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/RequestParametersImpl.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/ValidationHandlerImpl.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/ValueParserInferenceUtils.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/parameter/DeepObjectValueParameterParser.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/parameter/ExplodedArrayValueParameterParser.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/parameter/ExplodedObjectValueParameterParser.java
  vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/parameter/ExplodedTupleValueParameterParser.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/ValidationHandlerProcessorsIntegrationTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/DeepObjectValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ExplodedArrayValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ExplodedObjectValueParameterParserTest.java
  vertx-web-validation/src/test/java/io/vertx/ext/web/validation/impl/ExplodedTupleValueParameterParserTest.java
Labels: bug, component/openapi
